/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&family=Roboto+Mono:ital@1&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color:  #E5E5E5;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 850px;
    padding: 30px;
}
/* Top players styles */
.section-title{
    color:#562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
}
.player img{
    width: 56px;
    height: 56px;
}
